.prototype1-a {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.chat-1 {
    background-image: url(/img/simulacion/Chat-1.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%;
    width: 100%;
    min-height: 800px; 
}

.prototype2-a {
    height: 56px;
    width: 600px;
    position: absolute;
    top: 540px;
    right: 0px;
}

.prototype2-b {
    height: 56px;
    width: 56px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.chat-2 {
    background-image: url(/img/simulacion/Chat-2.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%;
    width: 100%;
    min-height: 1340px;
}

.prototype3 {
    height:104px;
    width: 600px;
    position: absolute;
    top: 56px;
    right: 0px;
}

.chat-3 {
    background-image: url(/img/simulacion/Chat-3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.prototype4-a {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 164px;
    left: 120px;
}

.prototype4-b {
    height: 56px;
    width: 200px;
    position: absolute;
    top: 960px;
    left: 200px;
}

.chat-4 {
    background-image: url(/img/simulacion/Chat-4.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%;
    width: 100%;
    min-height: 1050px;
}

.prototype5-a {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 164px;
    left: 20px;
}

.prototype5-b {
    height: 56px;
    width: 200px;
    position: absolute;
    top: 1160px;
    left: 200px;
}

.chat-5 {
    background-image: url(/img/simulacion/Chat-5.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%;
    width: 100%;
    min-height: 1250px;
}

.chat-6 {
    background-image: url(/img/simulacion/Chat-6.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.prototype6 {
    height: 56px;
    width: 56px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.chat-7 {
    background-image: url(/img/simulacion/Chat-7.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.chat-8 {
    background-image: url(/img/simulacion/Chat-8.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.chat-9 {
    background-image: url(/img/simulacion/Chat-9.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.chat-10 {
    background-image: url(/img/simulacion/Chat-10.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%;
    width: 100%;
    min-height: 800px; 
}

.perfil {
    background-image: url(/img/simulacion/Perfil.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%;
    width: 100%;
    min-height: 800px; 
}